{% extends '../main/graph-view.html' %} {% load static %} {% block graph %}

<!-- put graph title and intro here -->
<div class="container my-5">
  <div class="row justify-content-center">
    <h1 class="fs-2 fw-bold">
      <!-- heading -->
      MPCE Distribution Based on Household Types
    </h1>
    <p class="lead mt-3">
      <!-- intro -->
      Objective: The classification of Monthly Per Capita Expenditure (MPCE) based on household types aims to provide a detailed understanding of spending patterns across different employment categories in rural and urban India. This data helps policymakers design targeted interventions to improve economic stability and enhance the quality of life for vulnerable groups.
    </p>
  </div>

  <!-- Put graph here -->
  Household 3.13-3.24
  <div
    class="tableauPlaceholder"
    id="viz1742926154426"
    style="position: relative">
    <noscript
      ><a href="#"
        ><img
          alt="Sheet 1 "
          src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;3_&#47;3_133_22&#47;Sheet1&#47;1_rss.png"
          style="border: none" /></a></noscript
    ><object class="tableauViz" style="display: none">
      <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
      <param name="embed_code_version" value="3" />
      <param name="site_root" value="" />
      <param name="name" value="3_133_22&#47;Sheet1" />
      <param name="tabs" value="no" />
      <param name="toolbar" value="yes" />
      <param
        name="static_image"
        value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;3_&#47;3_133_22&#47;Sheet1&#47;1.png" />
      <param name="animate_transition" value="yes" />
      <param name="display_static_image" value="yes" />
      <param name="display_spinner" value="yes" />
      <param name="display_overlay" value="yes" />
      <param name="display_count" value="yes" />
      <param name="language" value="en-US" />
    </object>
  </div>
  <script type="text/javascript">
    var divElement = document.getElementById("viz1742926154426");
    var vizElement = divElement.getElementsByTagName("object")[0];
    vizElement.style.width = "100%";
    vizElement.style.height = divElement.offsetWidth * 0.75 + "px";
    var scriptElement = document.createElement("script");
    scriptElement.src = "https://public.tableau.com/javascripts/api/viz_v1.js";
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
  </script>

  9-19
  <div class="flourish-embed flourish-chart" data-src="visualisation/22295523">
    <script src="https://public.flourish.studio/resources/embed.js"></script>
    <noscript
      ><img
        src="https://public.flourish.studio/visualisation/22295523/thumbnail"
        width="100%"
        alt="chart visualization"
    /></noscript>
  </div>
  <!-- end of graph area -->

  <!-- Put insights here -->
  <div class="row features-section mt-5">
    <h1 class="fs-2 fw-bold text-center my-3">Key Insights</h1>
    <div class="col-md-4 mb-4">
      <div class="feature-card">
        <div class="feature-icon">
          <i class="fas fa-seedling"></i>
        </div>
        <h4>
          <!-- title -->
          Rural Household Observations
        </h4>
        <p>
          <!-- description -->
          Self-employed individuals in agriculture have the lowest MPCE compared to other categories.Regular wage/salaried earnings (non-agriculture) exhibit the highest MPCE among rural households.Casual labor in agriculture has the second-lowest MPCE, indicating financial vulnerability.With imputation, all categories see a slight increase in MPCE, suggesting data adjustments impact estimates.
        </p>
      </div>
    </div>
    <!--  -->
    <div class="col-md-4 mb-4">
      <div class="feature-card">
        <div class="feature-icon">
          <i class="fas fa-seedling"></i>
        </div>
        <h4>
          <!-- title -->
          Urban Household Observations
        </h4>
        <p>
          <!-- description -->
          Regular wage/salaried earnings remain a significant contributor to higher MPCE.Casual laborers have the lowest MPCE, highlighting financial instability in this category.Self-employed individuals have a lower MPCE than salaried earners but higher than casual laborers.The "Others" category consistently has the highest MPCE, indicating wealthier groups with diversified income sources.
        </p>
      </div>
    </div>
    <!--  -->
    <div class="col-md-4 mb-4">
      <div class="feature-card">
        <div class="feature-icon">
          <i class="fas fa-seedling"></i>
        </div>
        <h4>
          <!-- title -->
        </h4>
        <p>
          <!-- description -->
        </p>
      </div>
    </div>

    <!-- Put solutions here -->
    <div class="row features-section mt-5">
      <h1 class="fs-2 fw-bold text-center my-3">Solutions</h1>
      <div class="col-md-4 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="fas fa-seedling"></i>
          </div>
          <h4>
            <!-- title -->
            Enhancing Agricultural Productivity
          </h4>
          <p>
            <!-- description -->
            The government should provide subsidies, modern technology, and better irrigation facilities to improve self-employed farmers' income.Introducing vocational training can help casual laborers shift to higher-paying jobs in rural areas.
          </p>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="fas fa-seedling"></i>
          </div>
          <h4>
            <!-- title -->
            Job Security for Casual Laborers
          </h4>
          <p>
            <!-- description -->
            Implement policies to provide social security benefits, fair wages, and upskilling programs for informal workers.Offering financial aid and incubation support can help self-employed individuals in urban areas enhance their earnings.
          </p>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="fas fa-seedling"></i>
          </div>
          <h4>
            <!-- title -->
            Affordable Housing and Welfare Programs
          </h4>
          <p>
            <!-- description -->
            Reducing living costs through affordable housing and subsidies can improve the disposable income of lower-income groups.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- References Section -->
  <div class="container my-5">
    <h1 class="fs-2 fw-bold text-center my-4">References</h1>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <!-- Reference 1 -->
        Survey on Household Consumption Expenditure: 2022-23
      </li>
      <li class="list-group-item">
        <!-- Reference 2 -->
        Report_591_HCES_2022-23
      </li>
      <li class="list-group-item">
        <!-- Reference 3 -->
        Final_Report_HCES_2023-24
      </li>
    </ul>
  </div>

  {% endblock %}
</div>
