{% extends '../main/graph-view.html' %} {% load static %} {% block graph %}

<!-- put graph title and intro here -->
<div class="container my-5">
  <div class="row justify-content-center">
    <h1 class="fs-2 fw-bold">
      <!-- heading -->
    </h1>
    <p class="lead mt-3">
      <!-- intro -->
    </p>
  </div>

  <!-- Put graph here -->
  Average MPCE by Social Groups in 2022-23: All-India
  <div class="flourish-embed flourish-chart" data-src="visualisation/22295531">
    <script src="https://public.flourish.studio/resources/embed.js"></script>
    <noscript
      ><img
        src="https://public.flourish.studio/visualisation/22295531/thumbnail"
        width="100%"
        alt="chart visualization"
    /></noscript>
  </div>

  
  <iframe loading="lazy"
  style="width: 100%; height: 500px; border: 0px none;"
  allow="clipboard-write"
  src="https://charts.dataforindia.com/charts/99827b79aaf94f85a77b2eaabd4f3756">
</iframe>

  Average MPCE (Rs.) by social group in 2022-23, major states
  <div
    class="flourish-embed flourish-hierarchy"
    data-src="visualisation/22290295">
    <script src="https://public.flourish.studio/resources/embed.js"></script>
    <noscript
      ><img
        src="https://public.flourish.studio/visualisation/22290295/thumbnail"
        width="100%"
        alt="hierarchy visualization"
    /></noscript>
  </div>
  Click on the respective state to view the data for that state.
  
  <!-- end of graph area -->

  <!-- Put insights here -->
  <div class="row features-section mt-5">
    <h1 class="fs-2 fw-bold text-center my-3">Key Insights</h1>
    <div class="col-md-4 mb-4">
      <div class="feature-card">
        <div class="feature-icon">
          <i class="fas fa-seedling"></i>
        </div>
        <h4>
          <!-- title -->
        </h4>
        <p>
          <!-- description -->
        </p>
      </div>
    </div>
    <!--  -->
    <div class="col-md-4 mb-4">
      <div class="feature-card">
        <div class="feature-icon">
          <i class="fas fa-seedling"></i>
        </div>
        <h4>
          <!-- title -->
        </h4>
        <p>
          <!-- description -->
        </p>
      </div>
    </div>
    <!--  -->
    <div class="col-md-4 mb-4">
      <div class="feature-card">
        <div class="feature-icon">
          <i class="fas fa-seedling"></i>
        </div>
        <h4>
          <!-- title -->
        </h4>
        <p>
          <!-- description -->
        </p>
      </div>
    </div>

    <!-- Put solutions here -->
    <div class="row features-section mt-5">
      <h1 class="fs-2 fw-bold text-center my-3">Solutions</h1>
      <div class="col-md-4 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="fas fa-seedling"></i>
          </div>
          <h4>
            <!-- title -->
          </h4>
          <p>
            <!-- description -->
          </p>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="fas fa-seedling"></i>
          </div>
          <h4>
            <!-- title -->
          </h4>
          <p>
            <!-- description -->
          </p>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="fas fa-seedling"></i>
          </div>
          <h4>
            <!-- title -->
          </h4>
          <p>
            <!-- description -->
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- References Section -->
  <div class="container my-5">
    <h1 class="fs-2 fw-bold text-center my-4">References</h1>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <!-- Reference 1 -->
      </li>
      <li class="list-group-item">
        <!-- Reference 2 -->
      </li>
      <li class="list-group-item">
        <!-- Reference 3 -->
      </li>
    </ul>
  </div>

  {% endblock %}
</div>
