{% extends '../main/graph-view.html' %} {% load static %} {% block graph %}

<!-- put graph title and intro here -->
<div class="container my-5">
  <div class="row justify-content-center">
    <h1 class="fs-2 fw-bold">
      <!-- heading -->
    </h1>
    <p class="lead mt-3">
      <!-- intro -->
    </p>
  </div>

  <!-- Put graph here -->
  food vs non food 5,6,13,14
  <div
    class="flourish-embed flourish-hierarchy"
    data-src="visualisation/22289508">
    <script src="https://public.flourish.studio/resources/embed.js"></script>
    <noscript
      ><img
        src="https://public.flourish.studio/visualisation/22289508/thumbnail"
        width="100%"
        alt="hierarchy visualization"
    /></noscript>
  </div>
  4&12
  <div
    class="flourish-embed flourish-hierarchy"
    data-src="visualisation/22289477">
    <script src="https://public.flourish.studio/resources/embed.js"></script>
    <noscript
      ><img
        src="https://public.flourish.studio/visualisation/22289477/thumbnail"
        width="100%"
        alt="hierarchy visualization"
    /></noscript>
  </div>
  16
  <div
    class="flourish-embed flourish-hierarchy"
    data-src="visualisation/22289477">
    <script src="https://public.flourish.studio/resources/embed.js"></script>
    <noscript
      ><img
        src="https://public.flourish.studio/visualisation/22289477/thumbnail"
        width="100%"
        alt="hierarchy visualization"
    /></noscript>
  </div>

  17
  <div
    class="flourish-embed flourish-hierarchy"
    data-src="visualisation/22295442">
    <script src="https://public.flourish.studio/resources/embed.js"></script>
    <noscript
      ><img
        src="https://public.flourish.studio/visualisation/22295442/thumbnail"
        width="100%"
        alt="hierarchy visualization"
    /></noscript>
  </div>

  <div
    class="flourish-embed flourish-hierarchy"
    data-src="visualisation/22295442">
    <script src="https://public.flourish.studio/resources/embed.js"></script>
    <noscript
      ><img
        src="https://public.flourish.studio/visualisation/22295442/thumbnail"
        width="100%"
        alt="hierarchy visualization"
    /></noscript>
  </div>

  <div
    class="tableauPlaceholder"
    id="viz1742930274099"
    style="position: relative">
    <noscript
      ><a href="#"
        ><img
          alt=" "
          src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;3_&#47;3_9_17428777914770&#47;Sheet1&#47;1_rss.png"
          style="border: none" /></a></noscript
    ><object class="tableauViz" style="display: none">
      <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
      <param name="embed_code_version" value="3" />
      <param name="site_root" value="" />
      <param name="name" value="3_9_17428777914770&#47;Sheet1" />
      <param name="tabs" value="no" />
      <param name="toolbar" value="yes" />
      <param
        name="static_image"
        value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;3_&#47;3_9_17428777914770&#47;Sheet1&#47;1.png" />
      <param name="animate_transition" value="yes" />
      <param name="display_static_image" value="yes" />
      <param name="display_spinner" value="yes" />
      <param name="display_overlay" value="yes" />
      <param name="display_count" value="yes" />
      <param name="language" value="en-US" />
    </object>
  </div>
  <script type="text/javascript">
    var divElement = document.getElementById("viz1742930274099");
    var vizElement = divElement.getElementsByTagName("object")[0];
    vizElement.style.width = "100%";
    vizElement.style.height = divElement.offsetWidth * 0.75 + "px";
    var scriptElement = document.createElement("script");
    scriptElement.src = "https://public.tableau.com/javascripts/api/viz_v1.js";
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
  </script>

  3.10
  <div
    class="tableauPlaceholder"
    id="viz1742930256301"
    style="position: relative">
    <noscript
      ><a href="#"
        ><img
          alt=" "
          src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;3_&#47;3_10_17428785953920&#47;Sheet1&#47;1_rss.png"
          style="border: none" /></a></noscript
    ><object class="tableauViz" style="display: none">
      <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
      <param name="embed_code_version" value="3" />
      <param name="site_root" value="" />
      <param name="name" value="3_10_17428785953920&#47;Sheet1" />
      <param name="tabs" value="no" />
      <param name="toolbar" value="yes" />
      <param
        name="static_image"
        value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;3_&#47;3_10_17428785953920&#47;Sheet1&#47;1.png" />
      <param name="animate_transition" value="yes" />
      <param name="display_static_image" value="yes" />
      <param name="display_spinner" value="yes" />
      <param name="display_overlay" value="yes" />
      <param name="display_count" value="yes" />
      <param name="language" value="en-US" />
    </object>
  </div>
  <script type="text/javascript">
    var divElement = document.getElementById("viz1742930256301");
    var vizElement = divElement.getElementsByTagName("object")[0];
    vizElement.style.width = "100%";
    vizElement.style.height = divElement.offsetWidth * 0.75 + "px";
    var scriptElement = document.createElement("script");
    scriptElement.src = "https://public.tableau.com/javascripts/api/viz_v1.js";
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
  </script>
  <!-- end of graph area -->

  <!-- Put insights here -->
  <div class="row features-section mt-5">
    <h1 class="fs-2 fw-bold text-center my-3">Key Insights</h1>
    <div class="col-md-4 mb-4">
      <div class="feature-card">
        <div class="feature-icon">
          <i class="fas fa-seedling"></i>
        </div>
        <h4>
          <!-- title -->
        </h4>
        <p>
          <!-- description -->
        </p>
      </div>
    </div>
    <!--  -->
    <div class="col-md-4 mb-4">
      <div class="feature-card">
        <div class="feature-icon">
          <i class="fas fa-seedling"></i>
        </div>
        <h4>
          <!-- title -->
        </h4>
        <p>
          <!-- description -->
        </p>
      </div>
    </div>
    <!--  -->
    <div class="col-md-4 mb-4">
      <div class="feature-card">
        <div class="feature-icon">
          <i class="fas fa-seedling"></i>
        </div>
        <h4>
          <!-- title -->
        </h4>
        <p>
          <!-- description -->
        </p>
      </div>
    </div>

    <!-- Put solutions here -->
    <div class="row features-section mt-5">
      <h1 class="fs-2 fw-bold text-center my-3">Solutions</h1>
      <div class="col-md-4 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="fas fa-seedling"></i>
          </div>
          <h4>
            <!-- title -->
          </h4>
          <p>
            <!-- description -->
          </p>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="fas fa-seedling"></i>
          </div>
          <h4>
            <!-- title -->
          </h4>
          <p>
            <!-- description -->
          </p>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="fas fa-seedling"></i>
          </div>
          <h4>
            <!-- title -->
          </h4>
          <p>
            <!-- description -->
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- References Section -->
  <div class="container my-5">
    <h1 class="fs-2 fw-bold text-center my-4">References</h1>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <!-- Reference 1 -->
      </li>
      <li class="list-group-item">
        <!-- Reference 2 -->
      </li>
      <li class="list-group-item">
        <!-- Reference 3 -->
      </li>
    </ul>
  </div>

  {% endblock %}
</div>
